

body {
    background: radial-gradient(circle, #cecece, #3b3b3b);
    margin: 0; /* Eliminar margen predeterminado del body */
}

.gallery {
    display: grid;
    grid-gap: 30px; /* Espacio entre elementos de la cuadrícula */
    padding: 75px; /* Ajustar relleno para dispositivos de escritorio */
    align-content: center;
}

.gallery img {
    width: 100%; /* Asegurar que las imágenes llenen sus celdas de la cuadrícula */
    height: 100%; /* Asegurar que las imágenes llenen sus celdas de la cuadrícula */
    object-fit: cover; /* Mantener la relación de aspecto y cubrir el contenedor */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}



.back-button {
    position: absolute; /* Posicionar el botón absolutamente */
    font-size: 2rem; /* Tamaño de fuente más grande */
    color: white; /* Color blanco */
    text-decoration: none; /* Quitar subrayado del enlace */
    padding-left: 75px; /* Ajustar espaciado del botón para dispositivos móviles */
    padding-top: 25px; /* Ajustar espaciado del botón para dispositivos móviles */
}

.back-button a:hover {
    color: white; /* Mantener el color blanco incluso al pasar el ratón */
}

a:-webkit-any-link {
    color: white;
}

.sticker {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    transform: rotate(15deg);
  }

  @media only screen and (max-width: 768px) {
    

    
    .sticker {
        display: none;
      }
}

/* Aplicar efecto hover solo a dispositivos no táctiles */
@media (hover: hover) {
    .gallery img:hover {
        transform: scale(1.1);
        object-fit: contain;
        left: 50%; /* Centrar horizontalmente */
        top: 50%; /* Centrar verticalmente */
        z-index: 1; /* Asegurar que la imagen en hover esté sobre las demás */
    }
}