/* Apply hover effect only to non-touch devices */
@media (hover: hover) {
    .gallery img:hover {
        transform: scale(1.1);
        object-fit: contain;
        left: 50%; /* Center horizontally */
        top: 50%; /* Center vertically */
        z-index: 1; /* Ensure the hovered image is above others */
    }
}

body {
    background: radial-gradient(circle, #cecece, #3b3b3b);
    margin: 0; /* Eliminar el margen predeterminado del cuerpo */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cambiar a diseño de cuadrícula flexible */
    grid-auto-rows: minmax(100px, auto); /* Ajustar la altura automática de las filas */
    grid-gap: 10px; /* Espacio entre elementos de la cuadrícula */
    padding: 75px; /* Ajustar el relleno para dispositivos móviles */
}

.gallery img {
    width: 100%; /* Asegurar que las imágenes llenen sus celdas de la cuadrícula */
    height: 100%; /* Asegurar que las imágenes llenen sus celdas de la cuadrícula */
    object-fit: cover; /* Mantener la relación de aspecto y cubrir el contenedor */
    transition: transform 0.3s ease; /* Transición suave para el efecto de desplazamiento */
}

/* Media query for small screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .gallery {
        display: block; /* Cambiar a bloque para dispositivos móviles */
        padding: 20px; /* Ajustar el relleno para dispositivos móviles */
    }
}

.back-button {
    position: absolute; /* Colocar el botón en posición absoluta */
    font-size: 2rem; /* Tamaño de fuente más grande */
    color: white; /* Color blanco */
    text-decoration: none; /* Eliminar el subrayado del enlace */
    padding-left: 75px; /* Ajustar el espacio del botón para dispositivos móviles */
}

.back-button a:hover {
    color: white; /* Mantiene el color blanco incluso al pasar el mouse */
}

a:-webkit-any-link {
    color: white;
}
