/* Apply hover effect only to non-touch devices */
@media (hover: hover) {
    .gallery img:hover {
        transform: scale(1.1);
        object-fit: contain;
        left: 50%; /* Center horizontally */
        top: 50%; /* Center vertically */
        z-index: 1; /* Ensure the hovered image is above others */
    }
}

body {
    background: radial-gradient(circle, #cecece, #3b3b3b);
    margin: 0; /* Eliminate default body margin */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); /* Adjusted to allow 2 images per row */
    grid-auto-rows: minmax(200px, auto); /* Automatically adjust row height */
    grid-gap: 50px; /* Space between grid items */
    padding: 75px; /* Adjust padding for desktop devices */
}

.gallery img {
    width: 100%; /* Ensure images fill their grid cells */
    height: 100%; /* Ensure images fill their grid cells */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

/* Media query for small screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusted for 2 images per row */
        padding: 20px; /* Adjust padding for mobile devices */
    }

    .gallery img {
        height: auto; /* Adjust image height to maintain aspect ratio on smaller screens */
    }
}

.back-button {
    position: absolute; /* Position the button absolutely */
    font-size: 2rem; /* Larger font size */
    color: white; /* White color */
    text-decoration: none; /* Remove link underline */
    padding-left: 75px; /* Adjust button spacing for mobile devices */
    padding-top: 25px; /* Adjust button spacing for mobile devices */
}

.back-button a:hover {
    color: white; /* Maintain white color even on hover */
}

a:-webkit-any-link {
    color: white;
}
