

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}
  
  


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  flex-direction: none;
  
}




.info {
  font-family: 'Roboto';
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  overflow-x: auto;
}

.info a {
  margin: 0 30px;
}

.ticker-container {
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  position: relative;
}

.ticker-left li {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: inline-block;
  white-space:nowrap;
  animation: marquee 175s linear infinite;
}
@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}


.events {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
}

.events ul,
.events li {
  list-style: circle;
  text-align: left;
}

.ul {
  list-style-type: circle;
  padding: 0%;
}

.landing,
.menu,
.presskit,
.index {
  font-family: "Kode Mono", monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  text-decoration: none;
  color: white;
  flex-direction: column;
}




.landing a,
.menu a,
.presskit a,
.index a {
  font-size: 4rem;
  text-decoration: none;
  color: white;
}

.landing a:hover,
.menu a:hover,
.presskit a:hover,
.index a:hover {
  color: white;
}

.column-unit,
.events {
  text-align: left;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  body {
    overflow: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 1rem;
  }

  .info {
    padding: 5px;
    margin: 0px;
    font-size: 1rem;
   
  }

  .info br {
    margin-bottom:0.1em; /* Hide <br> elements on screens narrower than 600px */
}

  .ticker-container {
    width: 90%;
  }

  .marquee {
    font-size: 1rem;
  }

  .landing,
  .menu,
  .presskit,
  .index {
    font-size: 2.5rem;
  }

  .landing a,
  .menu a,
  .presskit a,
  .index a {
    font-size: 2.5rem;
  }

  .menu {
    text-align: left;
    padding-left: 20px;
  }

  .menu a {
    font-size: 2.5rem;
  }

  .sticker {
    display: none;
  }

  .back-button {
    display: none;
  }
}

/* Override overflow property for info.html to enable scrolling */
body.info {
  overflow: scroll;
}

.back-button {
  position: absolute;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding-left: 75px;
  padding-top: 25px;
}

.back-button a:hover {
  color: white;
}

a:-webkit-any-link {
  color: white;
}

.sticker {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  transform: rotate(15deg);
}



/* Hue shift animation */
@keyframes hueShift {
  0% {
    --color2: hsl(var(--hue-start), 100%, 60%);
  }
  100% {
    --new-hue: calc(var(--hue-start) + 360);
    --color2: hsl(var(--new-hue), 100%, 60%);
  }
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

